.login-button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 50px;
    margin-right: 20px;
}

.login-button div{
    margin-left: 5px;
    cursor: pointer;
}


.nav-section{
    display: flex;
    justify-content: center;
}

.nav-section img{
    cursor: pointer;
}

.menu-list{
    display: flex;
    list-style-type: none;
}

.menu-list li{
    padding: 10px;
}

.menu-area{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-area{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    position: absolute;
    top: 5px;
    right: 1vh;
    height: 30px;
    border-bottom: 1px black solid;
}

.search-area input{
    margin-left: 5px;
    border: none;
    width: 130px;
}

.card img{
    max-width: 100%;
}

.card {
    padding: 10px;
    border: none !important;
}

.product-img{
    overflow: hidden;
}

.card img:hover{
    transform: scale(1.1);
}

.detail-product img{
    width: 400px;
}

.btn-container {
    display: flex;
    gap: 0.5rem;
}

.btn-container button{
    flex: 1;
}

.size-drop button{
    width: 100px;
}

.side-btn{
    display: none;
}

@media all and (max-width: 955px){
    .search-area{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: 20px;
        position: absolute;
        left: 30px;
        top: -110px;
        width: 150px;
    }
}

@media all and (max-width: 530px) {
    .search-area{
        display: none;
    }

    .menu-list{
        display: none;
    }

    .side-btn{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: 20px;
        position: absolute;
        left: 30px;
        top: -110px;
    }

    .toggle{
        padding-left: 10px;
        z-index: 1001;
    }

    .close{
        position: fixed;
        top: 50px;
    }

    .side-menu{
        background-color: tomato;
        padding-left: 40px;
        padding-top: 45px;
        height: 100vh;
        width: 200px;
        z-index: 1000;
        position: fixed;
        left: -200px;
        top: 0;
        transition: transform 1.5s ease, left 1.5s ease;
        opacity: 95%;
    }

    .side-menu.open {
        left: 0; /* 화면 안으로 슬라이드 */
    }

    .side-list{
        margin-top: 30px;
        list-style-type: none;
    }

    .side-list li{
        padding: 10px;
    }
}